<h1>Questions#answer</h1>
<div class="banner">
<p><%=params[:question]%></p>
<p>-You</p>
</div>
<div class="second">
<p><%=@answer%></p>
<p>-Your Coach</p>
</div>
<%= link_to "This is my link", ask_path  %>

