// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.banner {
  border-left-color: #65655E;

}

.second {
  border-left-color: #65655E;
  background-color: #FFE5D9;

}
